/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #1d1d1f;
    padding-top: 70px; /* Offset for fixed navbar */
}

/* Scroll Progress Bar */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #8ba888;
    z-index: 1001;
    transition: width 0.25s ease;
}

/* Dark Mode Style */
body.dark-mode #progress-bar {
    background-color: #8ba888;
}


/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0; /* Ensure the navbar starts from the left edge */
    width: 100%; /* Span the full width */
    height: 70px;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space evenly */
    padding: 0 2em; /* Adjust padding for left and right */
}



/* Navigation Logo */
.nav-logo {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(45deg, #8ba888, #c0cfb2);
    transition: background-position 0.2s ease-in-out;
    background-size: 150%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

.nav-logo:hover {
    background-position: 100%;
}

.favorite-song {
    text-align: center;
}

.favorite-song h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#spotify-player {
    max-width:90%;
    margin: 0 auto;
}

.favorite-song iframe {
    border-radius: 12px;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative; /* Necessary for dropdown positioning */
    margin-left: 1.5em;
}

.nav-links a,
.nav-links .dropbtn {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 1em;
    display: inline-block;
}


.nav-links a:hover {
    color: #c0cfb2;
}

/* Dropdown Container */
.nav-links .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.nav-links .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Align directly below the parent */
    left: 0;
    background-color: white; /* Match your site's background color */
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 8px; /* Rounded corners */
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

/* Show the Dropdown on Hover */
.nav-links .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Dropdown Links */
.nav-links .dropdown-content a {
    color: #1d1d1f;
    padding: 0.75em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Hover Effects for Dropdown Links */
.nav-links .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #1d1d1f;
}

/* Hover effect on dropbtn */
.nav-links .dropbtn:hover {
    color: #c0cfb2; /* Optional: Change color on hover */
}

/* Night Mode Styles */
body.dark-mode .nav-links .dropdown-content {
    background-color: #2e2e31;
}

body.dark-mode .nav-links .dropdown-content a {
    color: #f5f5f7;
}

body.dark-mode .nav-links .dropdown-content a:hover {
    background-color: #444;
}

/* Hero Section */
.hero-section {
    background-color: #f5f5f7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 20vw;
    background-image: linear-gradient(90deg, #8ba888, #c0cfb2);
    transition: background-position 0.2s ease-in-out;
    background-size: 150%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

.hero-content h1:hover {
    background-position: 100%
}

.hero-section.dark-mode {
    background-color: #2e2e31;
}

.hero-content.dark-mode h1 {
    background: linear-gradient(45deg, #8ba888, #c0cfb2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.about-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    align-items: flex-start;
    gap: 2em; /* Space between columns */
}

/* Left Column */
.about-left {
    flex: 1 1 60%; /* Adjusts the width, can be changed as needed */
}

/* Right Column */
.about-right {
    flex: 1 1 35%; /* Adjusts the width, can be changed as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    padding-top: 83px; 
    padding-right: 50px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Adds rounded corners to the image */
    display: block; /* Ensures the image behaves as a block-level element */
}

/* Image Styling */
.about-right {
    flex: 1 1 35%; /* Adjusts the width, can be changed as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Content */
.section-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em 2em;
    text-align: center;
}

.section-content h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.section-content p {
    font-size: 1.2em;
    color: #6e6e73;
}

.project-item h3 {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    gap: 0.5em; /* Space between the text and icon */
}

/* Style for the GitHub icon link */
.github-icon {
    color: #587e54; /* Adjust color as needed */
    font-size: 1em; /* Adjust icon size */
    text-decoration: none;
    transition: color 0.3s;
}

/* Hover effect */
.github-icon:hover {
    color: #8ba888; /* Darker color on hover */
}

/* Dark Mode Styles */
body.dark-mode .github-icon {
    color: #f5f5f7;
}

body.dark-mode .github-icon:hover {
    color: #c0cfb2;
}

/* Skills, Experiences, and Projects Grids */
.skills-grid,
.experiences-grid,
.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Item Styles */
.skill-item,
.experience-item,
.project-item {
    background-color: #f5f5f7;
    padding: 1.5em;
    border-radius: 8px;
    text-align: left;
    min-height: 200px;
    flex-grow: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.skill-item h3,
.experience-item h3,
.project-item h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #1d1d1f;
}

.skill-item h4,
.experience-item h4,
.project-item h4 {
    font-size: 1.2em;
    color: #6e6e73;
    margin-bottom: 0.5em;
}

.skill-item p,
.experience-item p,
.project-item p,
.skill-item ul li {
    color: #6e6e73;
    margin-bottom: 0.5em;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #1d1d1f;
    color: #f5f5f7;
}

/* Navbar Dark Mode */
.navbar.dark-mode,
.footer.dark-mode {
    background-color: #121212;
}
.nav-toggle {
    display: none;
}

.navbar.dark-mode .nav-logo,
.navbar.dark-mode .nav-links a,
.navbar.dark-mode .nav-toggle,
.navbar.dark-mode .night-mode-toggle {
    color: #f5f5f7;
}

.nav-links.dark-mode a:hover {
    color: #c0cfb2;
}

/* Section Content Dark Mode */
.section-content.dark-mode h2,
.section-content.dark-mode p {
    color: #f5f5f7;
}

/* Item Dark Mode */
.skill-item.dark-mode,
.experience-item.dark-mode,
.project-item.dark-mode {
    background-color: #2e2e31;
}

.skill-item.dark-mode h3,
.experience-item.dark-mode h3,
.project-item.dark-mode h3 {
    color: #f5f5f7;
}

.skill-item.dark-mode h4,
.experience-item.dark-mode h4,
.project-item.dark-mode h4 {
    color: #d0d0d0;
}

.skill-item.dark-mode p,
.experience-item.dark-mode p,
.project-item.dark-mode p,
.skill-item.dark-mode ul li {
    color: #d0d0d0;
}

body.dark-mode .nav-links .dropdown-content {
    background-color: #2e2e31;
}

body.dark-mode .nav-links .dropdown-content a {
    color: #f5f5f7;
}

body.dark-mode .nav-links .dropdown-content a:hover {
    background-color: #444;
}

/* Skills Section Specific Styles */
.skill-item {
    background-color: #f5f5f7;
    padding: 1.5em;
    border-radius: 8px;
    text-align: center; /* Center the text within skill items */
    min-height: 200px;
    flex-grow: 1;
}

.skill-item h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #1d1d1f;
    text-align: center; /* Center the headings */
}

.skill-item p {
    font-size: 1.1em;
    color: #6e6e73;
    line-height: 1.5;
    text-align: center; /* Center the paragraph text */
}

.contact-button:hover {
    background-color: #005bb5;
}

#dark-mode-icon {
    padding: 0.2em; /* Add slight padding around the icon */
    margin: 0; /* Ensure no negative margins */
    font-size: 1.5em; /* Adjust size if necessary */
    display: inline-block; /* Ensure the icon doesn't get clipped */
}

/* When in dark mode, change the sun icon to white */
body.dark-mode #dark-mode-icon {
    color: white; /* Sun icon color in dark mode */
}

/* Footer */
.footer {
    background-color: #f5f5f7;
    padding: 2em;
    text-align: center;
}

.footer p {
    color: #6e6e73;
}

.footer.dark-mode {
    background-color: #333;
}

.footer.dark-mode p {
    color: #f5f5f7;
}

/* Contact Icons */
.contact-icons {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.contact-icon {
    color: #44624a;
    font-size: 2em;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-icon:hover {
    color: #8ba888;
}

.contact-icon.dark-mode {
    color: #f5f5f7;
}

.contact-icon.dark-mode:hover {
    color: #8ba888;
}

/* Back-to-Top Button */
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #44624a;
    color: white;
    border: none;
    padding: 0.75em 1em;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    display: none; /* Hidden by default */
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.back-to-top.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.back-to-top:hover {
    background-color: #587e54;
}

.back-to-top.dark-mode {
    background-color: #8ba888;
}

.back-to-top.dark-mode:hover {
    background-color: #587e54;
}

.night-mode-toggle {
    display: flex;
    height: 100%; /* Match the height of the navbar */
    padding: 0 1em; /* Adjust horizontal padding as needed */
    margin: 0; /* Remove any default margins */
}

.night-mode-toggle i {
    font-size: 1.5em;
    margin-right: 0.5em;
    color: black; /* Ensure the icon is visible against the navbar background */
}


/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px; /* Adjust width as needed */
    height: 25px; /* Adjust height as needed */
    vertical-align: middle; /* Align vertically within parent */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px; /* Adjust width for icons */
    height: 25px; /* Adjust height for icons */
    background-color: #ccc;
    transition: background-color 0.4s;
    border-radius: 34px;
    overflow: hidden;
}

.slider .fa-moon,
.slider .fa-sun {
    position: absolute;
    color: #fff;
    font-size: 14px;
    transition: opacity 0.4s;
}

.slider .fa-sun {
    right: 10px;
}

.slider.round .fa-moon {
    transform: translateX(-10px);
}

/* Positioning the icon on the right when checked */
input:checked + .slider.round .fa-sun {
    transform: translateX(10px);
}

/* Hide the opposite icon */
input:checked + .slider .fa-moon {
    display: none;
}

input:not(:checked) + .slider .fa-sun {
    display: none;
}

.slider:before {
    display: none;
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #8ba888;
}

input:focus + .slider {
    box-shadow: 0 0 1px #8ba888;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

input:not(:checked) + .slider .fa-moon {
    opacity: 1;
}

input:not(:checked) + .slider .fa-sun {
    opacity: 0;
}

input:checked + .slider .fa-moon {
    opacity: 0;
}

input:checked + .slider .fa-sun {
    opacity: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: black;
        padding: 1em 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1em 0;
        text-align: center;
    }

    .nav-toggle {
        display: block;
    }

    /* Dropdown Content for Mobile */
    .nav-links .dropdown-content {
        position: static;
        background-color: black;
        box-shadow: none;
        border-radius: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
    
    .nav-links .dropdown.active .dropdown-content {
        max-height: 500px; /* Adjust as needed */
    }

    /* Dropdown Links for Mobile */
    .nav-links .dropdown-content a {
        padding-left: 2em;
        color: white; /* or another color */
    }

    .nav-links .dropdown-content a:hover {
        background-color: #333;
        color: #c0cfb2;
    }

    /* Adjust Font Sizes on Mobile */
    .hero-content h1 {
        font-size: 20vw;
    }

    .skill-item h3,
    .experience-item h3,
    .project-item h3 {
        font-size: 1.3em;
    }

    .skill-item h4,
    .experience-item h4,
    .project-item h4 {
        font-size: 1.1em;
    }

    /* Adjust Grid Layout on Mobile */
    .skills-grid,
    .experiences-grid,
    .projects-grid {
        flex-direction: column;
    }

    /* Ensure Consistent Container Sizing */
    .skill-item,
    .experience-item,
    .project-item {
        flex: 1 1 auto;
    }

    .about-container {
        flex-direction: column;
    }
    .about-left,
    .about-right {
        flex: 1 1 100%;
    }
    .about-right {
        margin-top: 2em;
    }
}

/* Additional Styling for Dropdown Stability */
.nav-links .dropdown-content:hover {
    display: block;
    opacity: 1;
    visibility: visible;
}
